<header class="site-header">
  <div class="header-utility">
    <div class="container d-flex flex-wrap justify-content-between align-items-center gap-2">

  </div>

  <div   class="header-brand ">


<div class="container">
  <div class="d-flex justify-content-between align-items-center">
    <img src="assets/img/logo-peru.png" alt="Logo institucional a la izquierda" class="img-fluid" style="max-height: 100px;">
    <img src="assets/img/logo2.png" alt="Logo SINOE" class="img-fluid" style="max-height: 100px;">
  </div>
</div>


  </div>

  <div class="header-nav-wrap">
    <div class="container">
      <nav class="navbar navbar-expand-lg header-nav px-0">
        <button class="navbar-toggler nav-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Mostrar navegación">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link active" href="index.html">Inicio</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#consulta">Consulta de expedientes</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#mesa-partes">Mesa de partes</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#servicios-digitales">Servicios judiciales</a></li>
            <li class="nav-item"><a class="nav-link" href="index.html#noticias">Noticias</a></li>
            <li class="nav-item"><a class="nav-link" href="servicios.html">Transparencia y ayuda</a></li>
          </ul>

     
        </div>
      </nav>
    </div>
  </div>
</header>
