<header class="site-header">
  <div class="container">
    <nav class="navbar navbar-expand-lg header-nav px-0" aria-label="Navegación principal">
      
      <div class="header-brand-row">
        <a href="index.html" class="brand-main" aria-label="Ir al inicio del portal">
          <img
            src="assets/img/logo-peru.png"
            alt="Poder Judicial del Perú"
            class="brand-logo"
          >
        
        </a>

        <div class="brand-tools">
   

          <button
            class="navbar-toggler nav-toggle"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#mainNav"
            aria-controls="mainNav"
            aria-expanded="false"
            aria-label="Abrir menú"
          >
            <i class="bi bi-list" aria-hidden="true"></i>
          </button>
        </div>
     

      </div>

    </nav>  

 
  </div>

   



</header>   
 <div  class="row" style="background-color:#9A1413;width:100%;margin:0px; ;">
        
         <div class="col-lg-10 text-star text-white">Bienvenido <i>Juán Pérez García</i></div><div class="col-lg-2 text-end text-white">Mi perfil | <a href="index.html" class="text-white">Salir</a></div>
      </div> 